<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/img/logo-app.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#4C0082"/>
  <meta name="dicoding:email" content="ardhiyan.hakim@mhs.unsoed.ac.id">

  <title><%= title %> </title>
  <%- include('../includes/style') %>
</head>

<body>
  <%- include('../includes/nav') %>

  <%- include('../includes/content/item') %>
  <main id="content">
    <%- body %>
  </main>

  <%- include('../includes/footer') %>

  <%- include('../includes/script') %>
</body>

</html>